.ipynb_checkpoints/
.vscode/
Spectral_clustering_exploration.ipynb
Test_pipeline.ipynb
meetings-speaker-diarization/Untitled.ipynb
msd/__pycache__/
test_tensors (2).pt:Zone.Identifier
test_tensors.pt
test_tensors.pt:Zone.Identifier
.env
