.ipynb_checkpoints/
.vscode/
Spectral_clustering_exploration.ipynb
Test_pipeline.ipynb
**/Untitled.ipynb
test_tensors.pt
*:Zone.Identifier
.env
**/*.egg*
**/__pycache__/*
notebooks/martin/data/*.wav
notebooks/martin/outputs/*.rttm